    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a href="/users/home"><img class="navbar-brand logo" src="/img/logo.png"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">AW WorkSpace</a>
              </li>
             <% if(locals.user){ %>
             <% if(locals.user.role == "admin"){ %>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/tasks/assign-task">Assign Task</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/users/add-user">Add User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/report/users">Users</a>
              </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/report/report">Report</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/report/reportH">ReportH</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/profile/profile">Profile</a>
              </li>
              <% } %>
  
  
             
            </ul>
            <% if(locals.user){ %>
              <a href="/users/logout" class="btn btn-danger">Logout</a>

              <% }else{ %>
              <a href="/users/login" class="btn btn-primary">Login</a>
              <% } %>
          </div>
        </div>
      </nav>