
    <h1 class="mt-2 text-center">Reset Password</h1>

    <form action="/users/reset-pass" method="post" class="w-75 m-auto mt-4 text-center">
        <div class="row">
            <div class="col-sm-12 col-md-6 mt-4">
              <input required type="email" name="email" class="form-control" placeholder="email" aria-label="First name">
            </div>
            <div class="col-sm-12 col-md-6 mt-4">
              <input required type="text" name="mobile" class="form-control" placeholder="mobile" aria-label="Last name">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6 mt-4">
              <input required type="password" name="password" class="form-control" placeholder="Password" aria-label="First name">
            </div>
           
            <div class="col-sm-12 col-md-6 mt-4">
              <input required type="password" name="cpassword" class="form-control" placeholder="CPassword" aria-label="Last name">
            </div>
          </div>
          <div class="mt-4">
            <input required type="password" name="scode" class="form-control" placeholder="Secrat Code" aria-label="First name">
          </div>

          <button type="submit" class="btn btn-dark mt-5">Reset Password</button>
    </form>